@import "reset";
@import "products";
@import "products_new";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "users";
@import "mypage";
@import "logout";
@import "credit";
@import "categories";

* {
  box-sizing: border-box;
}
html,body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* ヘッダー */
.header{
  display: block;
  padding: 0 60px;
  &__inner{
    max-width: 1040px;
    min-height: 82px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 15px 0 0 0;
    .main-header{
      display: flex;
      position: relative;
      align-items: center;
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a{
          width: 140px;
          display: block;
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    
      .search__box{
        margin-left: auto;
        width: 100%;
        &__input{
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          input{
            width: calc(100%);
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
        button{
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
          img{
            width: 100%;
            vertical-align: bottom;
          }
          input{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
      }
    }
    .nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__lists-left{
        position: relative;
        display:flex;
      &__lists--first{
        padding: 0;
      } 
      a{
        color: black;
        text-decoration: none;
        line-height:32px;
        background-position:center right;
        background-repeat:no-repeat;
        background-size:18px;
        padding-right: 30px;
        }
      }
       
      &__lists-right{
        margin-left: auto;
        display: flex;
        .lists-right__item{
          padding: 0 0 0 16px
        }
        
        a{
          display: flex;
          align-items: center;
          color: #333;
          text-decoration: none;
          line-height: 32px;
        }
      }
    }
  }
}

/*app__banner*/
.app__banner{
  padding:100px 40px;
  background-size:cover;
  background-position: center;
  background-image: image-url("pict/bg-appBanner-pict.jpg") ;
  .inner{
    color:#fff;
    text-align: center;
    &__title{
      font-size: 24px;
      text-shadow: 0 0 5px rgba($color: #5a5a5a0e, $alpha: 1.0);
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba($color: #5a5a5a0e, $alpha: 1.0);
    }
    &__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      &__bbtn{
        padding-top: 3px;
      }
      img{
        width: 180px;
        vertical-align: bottom;
      }
      
    }
  }
}

/* フッター */
.footer{
  padding: 60px 0;
  color:#fff;
  text-align: center;
  background-color: #000000;
  .contents{
    display: flex;
    margin: 0 auto;
    max-width: 840px;
    a{
      font-size:12px;
      line-height: 32px;
      color: #fff;
      text-decoration: none;
    }
    .content{
      width: calc(1 / 3 * 100%);
      &__head{
        font-size:16px;
        margin: 0 0 20px;
        font-weight:bold;
      }
    }
  }
  .footer__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img{
      width: 100%;
      vertical-align: bottom;
    }
    p{
      font-size: 14px;
    }
  }
}