.main {
  background: #f8f8f8;
  display: block;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .main-visual{
    width: 100%;
    height: 560px;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .main-visual__content--subtitle{
      text-shadow: 0 0 5px #00000066;
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
    }
    .main-visual__content--text{
      text-shadow: 0 0 5px #00000066;
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
    .main-visual__content--btn{
      display: flex;
      margin: 24px 0 0 0;
      .inner__icon__abtn{
        margin-right: 10px;
        width: 180px;
      }
      .inner__icon__bbtn{
        padding-top: 3px;
        width: 180px;
      }
    }
  }
  .top-Introduction{
    padding: 60px 20px;
    .subtitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      .after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  .lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
    .list{
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      .list__pict{
        position: relative;
        margin-bottom: 20px;
        .number {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        img {
          border: 0;
          width: 100%;
        }
      }
      .list__text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
      span{
        color: #3CCACE;
      }
      }
      .list__description{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
      }
     }
  }
  .topMiddleDl{
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .topMiddleDl__inner{
      color: #fff;
      text-shadow: 0 0 5px #00000066;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .subtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn{
        margin-right: 10px;
        a{
          text-decoration: none;
        }
        .inner__icon__abtn{
          margin-right: 10px;
          width: 180px;

        }
        .inner__icon__bbtn{
          width: 180px;
          padding-bottom: 3px;
        }
      }
    }
  }
  .top-key-features{
    padding: 60px 100px;
    background-color: #fff;
    .top-key-features__head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      .after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .top-key-features__items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .item__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        .item__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickup-container{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    }
    .pickup-container:last-child{
      padding-bottom: 80px;
    }
    .pickup-container__product-box{
      margin: 0;
      padding: 0;
      .product-head{
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
      }
      .product-lists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        .product-list{
          width: 220px;
          display: inline-block;
          float: left;
          a{
            text-decoration: none;
            background-color: #fff;
            display: inline-block;
            .product-list__img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList--body{
              background-color: #ffffff;
              color: #333;
              padding: 16px;
              font-weight: none;
              .productList--body__name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .productList--body__details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li{
                    margin: 0;
                    padding: 0;
                  }
                  .fa.fa-star.likeIcon{
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
}
a{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  .purchaseBtn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .purchaseBtn__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .fa-camera:before {
      width: 130%;
      font-size: 55px;
      color: white;
   }
  }
}

/*商品詳細ページ*/
%nav{
  display:block;
}
.bread-crumbs{
  width: 100%;
  border-top:1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  
  ul{
    padding: 17px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li{
      padding:0 10px 0 0;
      float: left;
      a{
        color: black;
        text-decoration: none;
      }
      .fa{
        .fa-angle-right:before {
          content: "\f105";
        }
      }
    }
    a:hover {
      color: #3CCACE;
    }
  }
  ul::after{
    display: block;
    content:"";
    clear: both
  }
}
/*商品詳細メインページ*/
.main{
  background: #f8f8f8;
  &__show{
    padding:40px;
    margin:0 auto;
    .content__right{
      width:700px;
      margin: 0 auto;
      .top-content{
        .item-box{
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin:16px 0 0;
            display: flex;
            flex-direction: column;
            #main-image{
              object-fit:cover;
              height:346px;
            }
            .img__plural{
              display:flex;
              width: 10%;
              .sub-image{
                object-fit:cover;
                height:50px;
                opacity: 0.5;
              }
              .active {
                opacity: 1;
              }
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            >span{
              font-size: 46px;
              font-weight: bold;
              margin:0 10px 0 0;
              &__price-detail{
                span{
                  font-size:16px
                }
              }
            }
          }
          .item-detail{
            line-height:1.5;
            font-size: 18px;
            margin-bottom:30px;
          }
          .table{
            margin-bottom:20px;
            table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tr{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  a{
                    display: block;
                    text-decoration:none;
                    color: #3CCACE;
                  }
                }
              }
            }
          }
          .optional-area{
            display: flex;
            justify-content: space-between;
            ul{
              margin:10px 0 0;
              display:flex;
              li.optional-btn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                .fa{
                  display: inline-block;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                }
                .fa-star:before {
                  content: "\f005";
                } 
              }
              .optional-btn:hover {
                opacity: 0.6;
              }
            }
            .optional{
              margin: 10px 0 0;
              display: flex;
              .optional-btn{
                font-size: 14px;
                a{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  .fa{
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
              .optional-btn:hover {
                opacity: 0.6;
              }
            }
          }
          .buy-btn-contener {
            margin-top: 20px;
            text-align: center;
            .no-underline{
              text-decoration: none;
              .buy-btn {
                line-height: 48px;
                background: #FF0000;
                border: 1px solid #FF0000;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
              }
              .delete-btn {
                margin-right: 30px;
                line-height: 48px;
                background: #FF0000;
                border: 1px solid #FF0000;
                color: #fff;
                width: 30%;
                font-size: 18px;
                border-radius: 100px;
              }
              .edit-btn {
                line-height: 48px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 30%;
                font-size: 18px;
                border-radius: 100px;
              }
            }
          }
        }
        .comment__box{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .message{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          .notice-msg{
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          .comment-btn{
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
      }
      .links{
        list-style:none;
        display: flex;
        justify-content:between;
        width: 100%;
        li:last-child{
          margin-left: auto;
        }
        
          a{
          text-decoration: none;
          color: #3CCACE;
          }
          .fa {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        
      }
      .related-items{
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
      .links:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }
  &__show:after {
    display: block;
    content: "";
    clear: both;
  } 
}
/*出品ボタン*/
a{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  .purchaseBtn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .purchaseBtn__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .fa-camera:before {
      width: 130%;
      font-size: 55px;
      color: #ffffff;
   }
  }
  .purchaseBtn:hover {
    opacity: 0.8;
  }
}

