= render 'layouts/header'
= render 'users/navigation'

.category_body
  .catecory_contena
    .category_index
      .category_box
        .category_title
          <b>カテゴリー一覧</b>
        .category_list
          .category_menu
            レディース
          .category_menu
            メンズ
          .category_menu
            ベビィ・キッズ
          .category_menu
            インテリア・住まい・小物
          .category_menu
            本・音楽・ゲーム
          .category_menu
            おもちゃ・ホビー・グッズ
          .category_menu
            コスメ・香水・美容
          .category_menu
            家電・スマホ・カメラ
          .category_menu
            スポーツ・レジャー
          .category_menu
            ハンドメイド
          .category_menu
            チケット
          .category_menu
            自動車・オートバイ
          .category_menu
            その他
        .category_list_box


= render 'layouts/footer'