.header-contener
  =link_to "#" do
    = image_tag "logo/logo.png"
.form-body
  .field-contener
    .registration 購入が完了しました
    .registration-form
      .top-link
        = link_to("トップページに戻る", root_path, {class: "link-text"})